@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

a {
  text-decoration: none;
}

* {
  color: #454545;
  font-family: 'Nunito', sans-serif;
}

.btn {
  background-color: #494949;
  border: none;
  color: #f6fcff;
  width: 100%;
}

.btn:hover {
  background-color: #55bba7;
  border: none;
  color: #f6fcff;
}

.error-message {
  color: red;
  font-size: 34px;
}
